<ion-header [translucent]="true" class="bz_header_bg">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <img class="bz_logo" src="assets/logo-light.png" alt="logo">
      </ion-col>
      <ion-col size="6">
        <ion-item class="bz_menu_list">
          <ion-label>
              <ul>
                <li><ion-button routerLink="/dashboard"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 576 512"><path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V299.6l-94.7 94.7c-8.2 8.2-14 18.5-16.8 29.7l-15 60.1c-2.3 9.4-1.8 19 1.4 27.8H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zM549.8 235.7l14.4 14.4c15.6 15.6 15.6 40.9 0 56.6l-29.4 29.4-71-71 29.4-29.4c15.6-15.6 40.9-15.6 56.6 0zM311.9 417L441.1 287.8l71 71L382.9 487.9c-4.1 4.1-9.2 7-14.9 8.4l-60.1 15c-5.5 1.4-11.2-.2-15.2-4.2s-5.6-9.7-4.2-15.2l15-60.1c1.4-5.6 4.3-10.8 8.4-14.9z"/></svg>Task</ion-button></li>
                <li>
                  <ion-button routerLink="/calendar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 512"><path d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H208zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H336c-8.8 0-16 7.2-16 16z"/></svg>
                    Calender
                  </ion-button>
                </li>
                <li><ion-button routerLink="/chats">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 640 512"><path d="M208 352c114.9 0 208-78.8 208-176S322.9 0 208 0S0 78.8 0 176c0 38.6 14.7 74.3 39.6 103.4c-3.5 9.4-8.7 17.7-14.2 24.7c-4.8 6.2-9.7 11-13.3 14.3c-1.8 1.6-3.3 2.9-4.3 3.7c-.5 .4-.9 .7-1.1 .8l-.2 .2 0 0 0 0C1 327.2-1.4 334.4 .8 340.9S9.1 352 16 352c21.8 0 43.8-5.6 62.1-12.5c9.2-3.5 17.8-7.4 25.3-11.4C134.1 343.3 169.8 352 208 352zM448 176c0 112.3-99.1 196.9-216.5 207C255.8 457.4 336.4 512 432 512c38.2 0 73.9-8.7 104.7-23.9c7.5 4 16 7.9 25.2 11.4c18.3 6.9 40.3 12.5 62.1 12.5c6.9 0 13.1-4.5 15.2-11.1c2.1-6.6-.2-13.8-5.8-17.9l0 0 0 0-.2-.2c-.2-.2-.6-.4-1.1-.8c-1-.8-2.5-2-4.3-3.7c-3.6-3.3-8.5-8.1-13.3-14.3c-5.5-7-10.7-15.4-14.2-24.7c24.9-29 39.6-64.7 39.6-103.4c0-92.8-84.9-168.9-192.6-175.5c.4 5.1 .6 10.3 .6 15.5z"/></svg>Chat</ion-button>
                </li>
              </ul>
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="4">
        <ion-item class="top-header-right">
            <ul class="ms-auto">
              <!--<li><ion-button expand="block" (click)="OpenModal()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"></path></svg> Add Task</ion-button></li>-->

              <li>
                <select class="form-select button-native-c" [(ngModel)]="working_status" (change)="settimeaction()">
                  <option value="Active">Active</option>
                  <option value="Working">Working</option>
                  <option value="Break">Break</option>
                  <option value="Meeting">Meeting</option>
                </select>
              </li>

              <li><ion-button expand="block" (click)="openTaskSidebar()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"></path></svg> Add Task </ion-button></li>

              <li><ion-button class="bz-notification" id="notification-click"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 22a2.98 2.98 0 0 0 2.818-2H9.182A2.98 2.98 0 0 0 12 22zm7-7.414V10c0-3.217-2.185-5.927-5.145-6.742C13.562 2.52 12.846 2 12 2s-1.562.52-1.855 1.258C7.185 4.074 5 6.783 5 10v4.586l-1.707 1.707A.996.996 0 0 0 3 17v1a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-1a.996.996 0 0 0-.293-.707L19 14.586z"></path></svg></ion-button></li>
            </ul>
          
            <ion-chip id="click-trigger">
              <ion-avatar *ngIf="logedinpic">
                <img src="{{logedinpic}}" />
              </ion-avatar>
              <ion-avatar *ngIf="!logedinpic">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
              </ion-avatar>
              <ion-label>{{logedinname}}</ion-label>
            </ion-chip>
          
        </ion-item>

        <ion-popover class="bz_notification_box" trigger="notification-click" triggerAction="notification">
          <ng-template>
            
            <ion-card-header>
              <ion-row>
                <ion-col class="bz_noti_text">
                  Notifications ({{ notifications.length }})
                </ion-col>
                <ion-col class="bz_noti_remove" (click)="removeNotificationAll()">
                  Remove All
                </ion-col>
              </ion-row>
            </ion-card-header>

            <ion-segment  [(ngModel)]="segment">
              <ion-segment-button value="New">
                New
              </ion-segment-button>
              <ion-segment-button value="general">
                General
              </ion-segment-button>
            </ion-segment>

            
              <div class="notification_main" [ngSwitch]="segment">
              <ion-list *ngSwitchCase="'New'">
              
                <ion-card-content>
                  <ion-list class="bz-chat-list">

                    <ion-item class="bz-chat-bx" *ngFor="let notification of notifications">
                      <ion-label>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                          <div class="d-flex align-items-center">

                            <div class="symbol-circle" *ngIf="notification.user_image">
                              <img alt="Pic" src="{{notification.user_image}}">
                            </div>
                            
                            <div class="symbol-circle" *ngIf="!notification.user_image">
                              <span class="symbol-label label-success d-inline"
                                      data-toggle="tooltip" title="{{notification.name}}" data-original-title=""
                                      aria-describedby="tooltip80837">{{notification.short_name}}</span>
                            </div>

                            

                            <div class="d-flex flex-column">
                              <a href="#" class="bz-text-dark">{{ notification.task_name }}</a>
                              <span class="bz-noti-message">{{ notification.message }}</span>
                              <span class="bz-noti-time">{{ notification.time }}</span>
                            </div>
                          </div>
                          
                        </div>
                      </ion-label>
                    </ion-item>

                    
                </ion-list>
                </ion-card-content>
              </ion-list>
            
              <ion-list  *ngSwitchCase="'general'">
                <ion-card-content>
                  <ion-list class="bz-chat-list">

                    <ion-item class="bz-chat-bx" *ngFor="let notificationg of notificationsG">
                      <ion-label>
                        <div class="d-flex align-items-center justify-content-between mb-1">
                          <div class="d-flex align-items-center">

                            <div class="symbol-circle" *ngIf="notificationg.user_image">
                              <img alt="Pic" src="{{notificationg.user_image}}">
                            </div>

                            <div class="symbol-circle" *ngIf="!notificationg.user_image">
                              <span class="symbol-label label-success d-inline"
                                      data-toggle="tooltip" title="{{notificationg.name}}" data-original-title=""
                                      aria-describedby="tooltip80837">{{notificationg.short_name}}</span>
                            </div>

                            <div class="d-flex flex-column">
                              <a href="#" class="bz-text-dark">{{ notificationg.task_name }}</a>
                              <span class="bz-noti-message">{{ notificationg.message }}</span>
                              <span class="bz-noti-time">{{ notificationg.time }}</span>
                            </div>
                          </div>
                          
                        </div>
                      </ion-label>
                    </ion-item>

                    

     

                 

             
                </ion-list>
                </ion-card-content>
              </ion-list>
            </div>
              
          



          </ng-template>
        </ion-popover>
        
     
        <ion-popover class="bz_user_dropdown" trigger="click-trigger" triggerAction="click">
          <ng-template>
            <ion-content class="ion-padding" (click)="checkForUpdates()">
              <ion-icon name="sync-outline"></ion-icon>
              Check Update
            </ion-content>
            <ion-content class="ion-padding" (click)="refresh()"> <!--  (click)="refresh()" -->
              <ion-icon name="refresh-outline"></ion-icon>
              Refresh
            </ion-content>
            <ion-content class="ion-padding" (click)="logout()">
              <ion-icon name="log-out-outline"></ion-icon>
              Log out
            </ion-content>
          </ng-template>
        </ion-popover>





      </ion-col>


    </ion-row>
  </ion-grid>
</ion-header>           