<div class="bz-main-content" role="main">
    <div class="bz-login-content">
      <div class="container-fluid"> 
          <div class="row row-height">
            <div class="col-6 bz_content_left" style="background:url(assets/bz-left-img.jpg);">
              <div class="bz_logo_wrapper">
                  <a href="#"><img src="assets/buzy-team-logo-1.png" alt=""></a>  
              </div>
            </div>
            <div class="col-6 bz_content_right">
              <div class="bz_login_main">
                <form autocomplete="off" [formGroup]="form">
                  <div class="text-center">
                    <img src="assets/logo-icon.png" alt="img"/>
                    <h2>Reset Password</h2>
                    <p>Enter the email address or mobile number associated with your account.</p>
                    <div class="load_show" *ngIf="loadingImg">
                      <span class="load_show_text">
                        <div class="spinner">Please wait...</div>
                      </span>
                    </div>
                  </div> 
                  <div class="alert alert-danger" *ngIf="errorProduce !== ''">
                    {{errorProduce}}
                  </div>
                  <div class="bz-input-group">
                      <span class="bz-gp-pp">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
                            <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.314l6.709 3.932L8 8.928l1.291.718L16 5.714V5.4a2 2 0 0 0-1.059-1.765l-6-3.2ZM16 6.873l-5.693 3.337L16 13.372v-6.5Zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516ZM0 13.373l5.693-3.163L0 6.873v6.5Z"/>
                          </svg>
                      </span>
                      <input type="text" class="form-control" id="inputUsername" tabindex="1" name="email" formControlName="email" placeholder="Enter Email or Mobile Number" required>
                      <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                        <div *ngIf="email.errors?.['required']">
                            Email is required
                        </div>
                      </div>
                  </div>
                  
                 
                  <div class="bz-input-group bz-gp">
                    <div class="form-account">
                      <label class="form-check-label bz-check" for="rememberMe">Have an account? <a href="javascript:void(0)" (click)="goto()">Log In</a></label>
                    </div>
                  </div>
          
                  <div class="row bz-btn-main">
                    <div class="col-sm-12 bz-mb-1 bz-mb-sm-0">
                      <button type="button" class="btn btn-primary bz-btn-2" (click)="resendPassword()">Reset</button>
                    </div>
                    
                   
                  </div>
          
                  <!--<footer style="text-align: center; margin-top: 2rem; font-size: 0.75rem; color: #97a4af; font-weight: 400;"> Return to  <a class="bz-fs-1 bz-fw-bd" style="font-size: 0.75rem;" href="signup.html">Sign In</a></footer>-->
                </form>
              </div>
            </div>
          
          </div>
      </div>
    </div>
  </div>
