.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Make sure it appears above other content */
  width: 500px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#progress-text
{
  font-size: 14px;
    margin-top: 15px;
}
#progress-container{
  width: 80%;
    background-color: #e4e4e4;
}
.btn{
    position: absolute;
    bottom: 15px;
    right: 20px;
}
.w-text {
   font-size: 14px;
    margin-bottom: 20px;
}