$fontFamily:'Signika Negative', sans-serif;
$lightBlue:#e3f0ff;
$colorWhite:#ffffff;
$colorGrey:#F5F5F5;
$colorBlue:#0F5DF4;
$colorHigh:#ff5757;
$colorLow:#cccccc;
$colorMedium:rgb(255, 185, 35);
$colorlightBlue:#EBF1FC;
$colorBlack:#000000;
$colorDarkgray:#212529;
$fontweightBold:bold;
$fontweightSemibold:600;
$fontweightNormal:normal;