<app-header></app-header>
  <div class="load_show" *ngIf="loadingImgResult">
    <ion-spinner name="dots"></ion-spinner>
  </div>
<div class="calendar" *ngIf="!loadingImgResult">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<div class="sidebar" [ngClass]="{'open': showSidebar}">
  <div class="load_show" *ngIf="loadingImgResultdetail">
    <ion-spinner name="dots"></ion-spinner>
  </div>
  <div class="calendar-sidebar" *ngIf="!loadingImgResultdetail">
    <!--{{ eventDetailsContent }}-->
    <!--right side bar-->
      <ion-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-title>Calendar List View</ion-title>
            </ion-col>
            <ion-col class="text-end">
              <button class="calendar-close" (click)="closeSidebar()"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg></button>
            </ion-col>   
          </ion-row>
        </ion-grid>
      </ion-header>
    <ion-row>
          <ion-col>
            <div id="edit-task"></div>
            <ion-item lines="full">
              <ion-label>
                <span *ngIf="showSpan" (click)="toggleDisplay()">{{detailtasktitle}}</span>
                <ion-input *ngIf="!showSpan" placeholder="Task Name" class="custom" [(ngModel)]="detailtasktitle" name="detailtasktitle" (keyup)="updatetaskname($event)"></ion-input>
              </ion-label>
            </ion-item>
    
            <ion-item lines="full" class="addproject_pr">
              <ion-label>
                <div class="add_project  me-sm-2" id="addproject-trigger">
                  <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><rect x="128" y="128" width="336" height="336" rx="57" ry="57" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M383.5 128l.5-24a56.16 56.16 0 00-56-56H112a64.19 64.19 0 00-64 64v216a56.16 56.16 0 0056 56h24M296 216v160M376 296H216" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
                </div>

                <span class="addproject_list" *ngFor="let apro of detailtask.project_assign_array">
                  {{apro.name}} - Project
                  <a class="pr" (click)="removeProject(apro.crid, apro.project_id, apro.name, 'project')">x</a>
                </span>

                <span class="addproject_list" *ngFor="let acat of detailtask.category_assign_array">
                  {{acat.name}} - Department
                  <a class="pr" (click)="removeProject(acat.crid, acat.category_id, acat.name, 'category')">x</a>
                </span>

              </ion-label>
            </ion-item>
    
            <ion-item lines="full" class="bz-addteam">
              <ion-label>
                <div class="d-flex justify-content-between">
                  <div class="addproject_namelist">
                      <div id="adduser-trigger" class="addtask_user me-sm-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><rect x="128" y="128" width="336" height="336" rx="57" ry="57" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M383.5 128l.5-24a56.16 56.16 0 00-56-56H112a64.19 64.19 0 00-64 64v216a56.16 56.16 0 0056 56h24M296 216v160M376 296H216" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
                      </div>
                      <div id="taskuser" class="symbol-group symbol-hover">
                        <div class="symbol symbol-25 symbol-light-success">

                          <span class="symbol-label label-success d-inline"
                            data-toggle="tooltip" title="{{detailtask.by_user_name}}" data-original-title=""
                            aria-describedby="tooltip80837">{{detailtask.short_by_name}}</span>
                          <span class="d-inline me-sm-3"> - </span>

                        </div>

                        <div class="symbol symbol-25 symbol-light-primary" *ngFor="let auser of detailtask.user_assign_name_array">
                          <span class="symbol-label label-info" data-toggle="tooltip" title="{{auser.name}}"
                            data-original-title="">{{auser.short_name}}<a class="pr" (click)="removeUser(auser.crid, auser.userid, auser.name)">x</a></span>
                        </div>
                        
                        
                      </div>
                  </div>
                  <div class="bz-btns">
                    <button type="button" class="btn btn-primary me-sm-1">
                      
                      <ion-icon name="play" (click)="startTask(detailtaskId, '', detailtasktitle, detailtask,'start')" *ngIf="detailtaskId != taskId"></ion-icon>
                      <ion-icon name="pause" (click)="delAllTimer(detailtaskId, '')" *ngIf="stop && detailtaskId === taskId"></ion-icon>
                    </button>

                    <button type="button" class="btn btn-danger me-sm-1" expand="block" (click)="setOpen(true)"> <ion-icon name="stopwatch-outline"></ion-icon>
                      Alloted:{{detailtask.time}}h</button>
                    <button type="button" class="btn btn-info"> <ion-icon name="stopwatch-outline"></ion-icon> Spent :
                      {{detailtask.spent}}</button>
                  </div>
                </div>

              </ion-label>
            </ion-item>
    
    
    
            <ion-item class="dropdown-background">
        <ion-button class="active-dropdown-btn" id="auto-trigger"> 
          <ion-icon name="ellipse" color="{{task_status_color}}"></ion-icon>{{task_status}}
        </ion-button>
        <ion-popover class="active-dropdown" trigger="auto-trigger" size="auto">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-list>
                <ion-item>
                  <a href="javascript:void(0);" (click)="updateStatus('1','status','Active')"><ion-icon name="ellipse" color="primary"></ion-icon>Active </a> 
                </ion-item>
                <ion-item>
                  <a href="javascript:void(0);" (click)="updateStatus('2','status','Completed')"><ion-icon name="ellipse" color="success"></ion-icon>Completed</a> 
                </ion-item>
                <ion-item>
                  <a href="javascript:void(0);" (click)="updateStatus('3','status','Deferred')"><ion-icon name="ellipse" color="tertiary"></ion-icon> Deferred</a>
                </ion-item>
                <ion-item>
                  <a href="javascript:void(0);" (click)="updateStatus('4','status','Cancelled')"><ion-icon name="ellipse" color="secondary"></ion-icon> Cancelled</a> 
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>

        <ion-button class="active-dropdown-btn" id="auto-trigger2"> 
          <ion-icon name="ellipse" color="{{type_name_class}}"></ion-icon>{{type_name}}
        </ion-button>

        <ion-popover class="active-dropdown" trigger="auto-trigger2" size="auto">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-list>
                <ion-item>
                  <a href="javascript:void(0);" (click)="updateStatus('1','type','Normal')"><ion-icon name="ellipse" color="danger"></ion-icon>Normal </a>
                </ion-item>
                <ion-item>
                  <a href="javascript:void(0);" (click)="updateStatus('2','type','Permanent')"><ion-icon name="ellipse" color="success"></ion-icon>Permanent</a> 
                </ion-item>
                <ion-item>
                  <a href="javascript:void(0);" (click)="recusiveOpen(true)"><ion-icon name="ellipse" color="warning"></ion-icon>Recursive</a>
                </ion-item>
               
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>


        <ion-button class="active-dropdown-btn" id="auto-trigger3"> 
          <ion-icon name="ellipse" color="{{priority_class}}"></ion-icon>{{priority}}
        </ion-button>
        <ion-popover class="active-dropdown" trigger="auto-trigger3" size="auto">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-list>
                <ion-item>
                  <a href="javascript:void(0);" (click)="updateStatus('1','priority','High')"><ion-icon name="ellipse" color="danger"></ion-icon>High </a>
                </ion-item>
                <ion-item>
                  <a href="javascript:void(0);" (click)="updateStatus('2','priority','Low')"><ion-icon name="ellipse" color="success"></ion-icon>Low </a> 
                </ion-item>
                <ion-item>
                  <a href="javascript:void(0);" (click)="updateStatus('3','priority','Medium')"><ion-icon name="ellipse" color="tertiary"></ion-icon>Medium</a> 
                </ion-item>
                <ion-item>
                  <a href="javascript:void(0);" (click)="updateStatus('4','priority','Normal')"><ion-icon name="ellipse" color="secondary"></ion-icon> Normal</a>
                </ion-item>
                
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>

        <ion-button class="active-dropdown-btn" id="auto-trigger4"> 
         Notify Me
        </ion-button>
        <ion-popover class="active-dropdown" trigger="auto-trigger4" size="auto">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-list>
                <ion-item>
                 <ion-checkbox [formControl]="startedControl" (ionChange)="notifyMestarted($event)"></ion-checkbox>Started
                </ion-item>
                <ion-item>
                 <ion-checkbox [formControl]="completedControl" (ionChange)="notifyCompleted($event)"></ion-checkbox>Completed
                </ion-item>
                 
                
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>

        <!--<ion-button class="active-calender"  id="auto-trigger5"> 
          <ion-icon name="calendar-outline"></ion-icon> {{detailtask.daterange}}
        </ion-button>
         <ion-popover class="active-calender-pop" trigger="auto-trigger5" size="auto">
           <ng-template>
             <ion-content class="ion-padding">
              <ion-datetime></ion-datetime>
             </ion-content>
           </ng-template>
         </ion-popover>-->
         <div class="bz-range-calender">
         <input type="text" class="active-calender-new" ngxDaterangepickerMd [(ngModel)]="selectedDateRange" startKey="start"
    endKey="end" placeholder="Choose date" [showDropdowns]="true"
       [timePicker]="true"
       [timePickerIncrement]="15"
       [timePicker24Hour]="false"
       [locale]="{ format: 'MM/DD/YYYY hh:mm A' }" (change)="dateRangeSelected($event)"/>
       </div>
         
         <!--<ngx-daterangepicker-material
            [(ngModel)]="selectedDateRange"
            [showDropdowns]="true"
            [showWeekNumbers]="true"
            [startDate]="startDate"
            [endDate]="endDate"
            (selected)="dateRangeSelected($event)"
          ></ngx-daterangepicker-material>-->

         <ion-button class="active-calender"> 
          <div class="box">
            <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" (change)="handleFileInput($event)" multiple />
            <label for="file-1"><ion-icon name="attach-outline"></ion-icon><span>Attach file&hellip;</span></label>
          </div>
         </ion-button>
         </ion-item>

          <!--<ion-item lines="full">
            <ion-label>
              <span><ion-icon name="add-circle-outline"></ion-icon> Add subtask</span>
            </ion-label>
          </ion-item>-->

          <!--task docdrag drop area-->
          <div class="editor-container" 
             (dragenter)="onDragEnter($event)" 
             (dragleave)="onDragLeave($event)" 
             (dragover)="onDragOver($event)" 
             (drop)="onDrop($event)">
          <!-- CKEditor remains always visible -->
          <ckeditor [editor]="customEditor" [data]="editorData" (keyup)="onKeyUp($event)"></ckeditor>
          
          <!-- Drop zone, visibility controlled by drag events -->
          <div *ngIf="isDropZoneVisible" class="drop-zone">
            Drag and drop a document here
          </div>
        </div>
          <!--end -->

          <!--<ckeditor [editor]="customEditor" [data]="editorData" (keyup)="onKeyUp($event)"></ckeditor>-->
    
            <div class="sidebar-notes">
              <!--<div class="bz-editor">
                <ion-item lines="full">
                  <ckeditor [editor]="customEditor" [data]="editorData" (keyup)="onKeyUp($event)"></ckeditor>
              
                </ion-item> 
            </div>-->
            
            <div class="notes-sep"> 
              <span>{{detailtask.tfiles}} Files</span> 
            </div>
    
            <ion-item *ngFor="let tfile of detailtask.attchment_Arr">
              <ion-avatar (click)="downloadFile(tfile.downlodurl)">
                <img alt="{{tfile.name}}" src="{{tfile.link}}" />
              </ion-avatar>
              <ion-label>
                <h3>{{tfile.name}}</h3>
              </ion-label>
              <ion-label>
                <h3>{{tfile.username}}</h3>
              </ion-label>
            </ion-item>
    
            <div class="notes-sep"> 
              <span>{{detailtask.tnotes}} Notes</span> 
            </div>
    
            <ion-item *ngFor="let note of detailtask.task_note_arr">
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="{{note.image}}" />
              </ion-avatar>
              <ion-label>
                <h3>{{note.name}}</h3>
                <p>{{note.notes}}</p>
              </ion-label>
            </ion-item>
            
          </div>
    
            <ion-popover class="bz_user_dropdown" trigger="addproject-trigger" triggerAction="click">
              <ng-template>
                <ion-content class="ion-padding">
                  <div class="project_search">
                    <ion-searchbar (ionInput)="onSearch($event)"></ion-searchbar>
                  </div>
                  <div class="list">   
                    <a class="item" href="javascript:void(0);" *ngFor="let pro of allProjects" (click)="assignProject(pro.uid,pro.name,pro.type)">{{pro.name}} - {{pro.type}}</a>
                  </div>
                </ion-content>
              </ng-template>
            </ion-popover>
    
            <ion-popover class="bz_user_dropdown" trigger="adduser-trigger" triggerAction="click">
                <ng-template>
                  <ion-content class="ion-padding">
                    <div class="project_search">
                      <ion-searchbar (ionInput)="onSearchuser($event)"></ion-searchbar>
                    </div>

                    <div class="list">
                      <ion-item *ngFor="let usr of allUsers" (click)="assignUser(usr.uid,usr.name)">

                        <ion-avatar slot="start" *ngIf="usr.image; else noAvatar">
                          <img alt="Silhouette of a person's head" src="{{usr.image}}" />
                        </ion-avatar>
                        <ng-template #noAvatar>
                        <span class="symbol-label label-success d-inline"
                              data-toggle="tooltip" title="{{usr.name}}" data-original-title=""
                              aria-describedby="tooltip80837">{{usr.short_name}}</span>
                        </ng-template>
                        <ion-label>
                          <h3>{{usr.name}}</h3>
                          <p>{{usr.email}}</p>
                        </ion-label>
                      </ion-item>

                      
                    </div>
                  </ion-content>
                </ng-template>
              </ion-popover>
          </ion-col>
    </ion-row>


    <ion-item class="calendar-footer" lines="full">
      <ion-label>
        <ion-textarea class="custom-textarea" placeholder="Task Note..." [(ngModel)]="taskNote"></ion-textarea>
        <ion-button (click)="savenotsValue()"><ion-icon name="paper-plane-outline"></ion-icon></ion-button>
      </ion-label>
    </ion-item>

  </div>


  <!--popup alloted-->

  <ion-modal [isOpen]="isModalOpen" class="allotedpopup">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Task Estimated Time</ion-title>
          <ion-buttons slot="end">
            <ion-button class="alloted-close" (click)="setOpen(false)"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding alloted-popup">
        <form>
          <ion-label>Estimated Time in Hour</ion-label>
          <ion-input placeholder="Custom input" class="custom" [(ngModel)]="taskTimealloted" [ngModelOptions]="{ standalone: true }"></ion-input>
          <div class="alloted-btn-group">
            <ion-button color="danger" (click)="setOpen(false)">Cancel</ion-button>
            <ion-button color="primary" (click)="saveTimealloted(detailtaskId)">Save</ion-button>
          </div>
          
        </form>
      </ion-content>
      
    </ng-template>
  </ion-modal>


<!--Recursive popup-->
  <ion-modal [isOpen]="isRecursiveOpen" class="recursive-popup">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Recursive</ion-title>
          <ion-buttons slot="end">
            <ion-button class="alloted-close" (click)="recusiveOpen(false)"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding recursive-pop">
        <h4>Welcome to Recurring Tasks!</h4>
        <form>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-label>Frequency</ion-label>
                <ion-select placeholder="Monthly" [(ngModel)]="frequencyOption" name="frequencyOption" (ionChange)="onChangeFrequencyOption()">
                    <ion-select-option value="monthly">Monthly</ion-select-option>
                    <ion-select-option value="weekly">Weekly</ion-select-option>
                </ion-select>
              </ion-list>
            </ion-col>

            <ion-col>
              <ion-list>
                  <ion-label>Repeat every</ion-label>
                  <ion-input placeholder="Custom input" class="custom" [(ngModel)]="repeat" name="repeat"></ion-input>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="frequencyOption === 'monthly'">
            <ion-col>
              <ion-list>
                  
                  <ion-radio-group value="day_of_the_month" [(ngModel)]="recursiveRadio" name="recursiveRadio">
                    <ion-radio value="day_of_the_month" labelPlacement="end">Day of the month</ion-radio>
                  </ion-radio-group>   
              </ion-list> 
            </ion-col>
            <ion-col>
              <ion-list>
                
                <ion-radio-group value="specific day" [(ngModel)]="recursiveRadio" name="recursiveRadio">
                  <ion-radio value="specific day" labelPlacement="end">Specific day of month</ion-radio>
                </ion-radio-group>   
              </ion-list>  
            </ion-col>
          </ion-row>

          <ion-row *ngIf="frequencyOption === 'weekly'">
            <ion-col>
              <ion-list>
                  
                  <ion-radio-group value="specific week" [(ngModel)]="recursiveRadio" name="recursiveRadio">
                    <ion-radio value="specific week" labelPlacement="end">Specific day of week</ion-radio>
                  </ion-radio-group>   
              </ion-list> 
            </ion-col>
            
          </ion-row>


          <ion-row *ngIf="frequencyOption === 'monthly'">
            <ion-col>
              <ion-list>
                <ion-label>Day</ion-label>
                <ion-input type='number' placeholder="Custom input" class="custom" [(ngModel)]="day_month" name="day_month"></ion-input>
              </ion-list> 
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-col>
                  <ion-list>
                    <ion-label>Rank</ion-label>
                    <ion-select placeholder="The First" [(ngModel)]="specific_day_of_month_number" name="specific_day_of_month_number">
                        <ion-select-option value="first">The First</ion-select-option>
                        <ion-select-option value="second">The Second</ion-select-option>
                        <ion-select-option value="third">The Third</ion-select-option>
                        <ion-select-option value="fourth">The Fourth</ion-select-option>
                    </ion-select>
                  </ion-list>
                </ion-col>

                <ion-col>
                  <ion-list>
                    <ion-label>Week</ion-label>
                    <ion-select placeholder="Sunday" [(ngModel)]="specific_day_of_month_day" name="specific_day_of_month_day">
                        <ion-select-option value="Sunday">Sunday</ion-select-option>
                        <ion-select-option value="Monday">Monday</ion-select-option>
                        <ion-select-option value="Tuesday">Tuesday</ion-select-option>
                        <ion-select-option value="Wednesday">Wednesday</ion-select-option>
                        <ion-select-option value="Thursday">Thursday</ion-select-option>
                        <ion-select-option value="Friday">Friday</ion-select-option>
                        <ion-select-option value="Saturday">Saturday</ion-select-option>
                    </ion-select>
                  </ion-list>
                </ion-col>

              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="frequencyOption === 'weekly'">
            
            <ion-col>
              <ion-row>
                <ion-col>
                  <ion-list>
                    <ion-select placeholder="Monday" [(ngModel)]="specific_day_of_month" name="specific_day_of_month">
                        <ion-select-option value="Sunday">Sunday</ion-select-option>
                        <ion-select-option value="Monday">Monday</ion-select-option>
                        <ion-select-option value="Tuesday">Tuesday</ion-select-option>
                        <ion-select-option value="Wednesday">Wednesday</ion-select-option>
                        <ion-select-option value="Thursday">Thursday</ion-select-option>
                        <ion-select-option value="Friday">Friday</ion-select-option>
                        <ion-select-option value="Saturday">Saturday</ion-select-option>
                    </ion-select>
                  </ion-list>
                </ion-col>

              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-list>
                <ion-label>Satrt Date</ion-label>
                <div class="date-picker-wrapper">
                  <ion-input type="date" [(ngModel)]="dateN" name="dateN"></ion-input>
                    
                </div>
              </ion-list>
            </ion-col>

            <ion-col>
              <ion-list>
                <ion-label>End Date</ion-label>
                <div class="date-picker-wrapper">
                  <ion-input type="date" [(ngModel)]="dateT" name="dateT"></ion-input>

                </div>
              </ion-list>
             </ion-col>

          </ion-row>

          <ion-row class="recursive-ocr">
            <ion-col size="8">
              <ion-row>
                <ion-col>
                  <ion-checkbox  #myCheckbox labelPlacement="end" checked="true" (ionChange)="updateCheckboxState($event)">Limit to</ion-checkbox>
                </ion-col>
                <ion-col>
                  <ion-list>
                    <ion-input placeholder="Custom input" class="custom" [(ngModel)]="occurrences" name="occurrences"></ion-input>
                  </ion-list>
                </ion-col>
                <ion-col>
                  <span class="occur-text">Occurrences</span>
                </ion-col>

              </ion-row>

            </ion-col>

            <ion-col>
              <ion-checkbox #myCheckbox1 labelPlacement="end" (ionChange)="updateCheckboxStateup($event)"> Create upfront</ion-checkbox>
            </ion-col>


          </ion-row>
          <div class="alloted-btn-group">
            <ion-button color="danger" (click)="recusiveOpen(false)">Cancel</ion-button>
            <ion-button color="primary" (click)="saverecursivetask(detailtaskId)">Save</ion-button>
          </div>
          
        </form>
      </ion-content>
      
    </ng-template>
  </ion-modal>
</div>